@font-face {
  font-family: "Frijole";
  src: url("../assets/fonts/Frijole-Regular.ttf") format("truetype");
}

.hero-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.hero-h1 {
  font-family: "Frijole", cursive;
  font-size: 3rem;
  font-weight: 400;
}

.hero-image {
  max-width: 100%;
  max-height: 50vh;
}

.hero-buttons-div {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.hero-button{
    font-family: "Frijole", cursive;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.yes:hover {
    background-color: #4bf174;
}

.no:hover {
    background-color: #ff6666;
}