.hero-outer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-h1 {
  font-family: "Frijole", cursive;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.hero-image {
  max-width: 100%;
  max-height: 50vh;
}

.hero-buttons-div {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.hero-button {
  font-family: "Frijole", cursive;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  transition: background-color 0.3s;
}

.yes:hover {
  background-color: #3b8a4f;
}

.no:hover {
  background-color: #c52323;
}
