@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Frijole";
  src: url("./assets/fonts/Frijole-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  color: #f3f4f6;
}

#root {
  min-height: 100vh;
  background-image: url("./assets/images/textured-background.webp");
  background-size: contain;
}
